label, button {
	clear: both;
	float: left;
	margin: 15px 10px;
}
body{

	font-size: 1.2em;
}


div {
	padding: 5px;
	margin:10px;
	overflow: hidden;
}

.taula{

padding: 30px;
width: 100%;
margin: 0em;
}


img{
	padding-left: 3em;
	width: 30em;
}

tr{
margin: 0px;
padding: 0px; 
}




.formulari {
	opacity: 0.8;
	border: 0.5em solid;
	text-align: center;
	margin-left: 25em;
	margin-right: 25em;
}

.inputs {
	padding-top: 10px;
	border-bottom: 0.1em solid;
	border-top: 0em solid;
	border-left: 0em solid;
	font-size: 1em;

}
.borde {
	background-color: #d29b9b;
	width: 95%
}

.font {
	font-size: 0.6em;
}

.width {
	width: 95%;
}